.cardDesign{
    padding: 30px 15px;
    text-align: center;
    margin-bottom: 40px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
    min-height: 400px;
}
.cardImg{
    width: 185px;
    height: 185px;
    border-radius: 50%;
}
.name{
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0;
}
.text{
    font-size: 16px;
    line-height: 1.7;
}
.icons{
    display: flex;
    justify-content: center;
}
.icon{
    width: 35px;
    height: 35px;
    border: 1px solid #009CFF;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color: #009CFF;
    cursor: pointer;
}
.icon a{
    color: #fff;
}