.button {
  width: 140px;
  height: 32px;
  border-radius: 20px;
  background-color: transparent;
  color: #002147;
  border: 2px solid #009cff;
}
.button:hover {
  background-color: #009cff;
  color: #ffffff !important;
  border: 2px solid #009cff;
  transition: 0.3s;
}
