.presidentSecretery{
    margin-bottom: 70px;
}
.col{
    display: flex;
    align-items: center;
}
.imgContent{
    display: flex;
    justify-content: center;
}
.img{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    object-fit: fill;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text1{
    font-size: 16px;
    line-height: 1.7;
}
.title{
    font-size: 32px;
    font-weight: 700;
    color: #009CFF;
}
.name{
    font-size: 22px;
    font-weight: 600;
}