/* .presidentSecretery { */
/* margin-bottom: 70px; */
/* } */
.col {
  display: flex;
  align-items: center;
}
.imgContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 30px 40px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
}
.img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: fill;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  padding: 30px 40px;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
}
.text1 {
  font-size: 15px;
  line-height: 1.7;
}
.title {
  font-size: 20px;
  font-weight: 700;
  color: #009cff;
  /* font-family: var(--font-family); */
}
.name {
  font-size: 15px;
  font-weight: 600;
  font-family: var(--font-family);
  color: #002147;
}
.workplace {
  font-size: 14px;
  font-weight: 600;
}
.button {
  width: 140px;
  height: 32px;
  border-radius: 20px;
  background-color: transparent;
  color: #002147;
  border: 2px solid #009cff;
}
.button:hover {
  background-color: #009cff;
  color: #ffffff !important;
  border: 2px solid #009cff;
  transition: 0.3s;
}
